@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root{
    --colorofondo1 : #f2f2fd;
    --colorfondo2: #504c7c;
    --coloroletras: #393669;
    --colorboton: #7570c3;
}


/* Ajustes generales */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Lato', sans-serif;
    min-height: 100vh;
    position: relative;
    padding-bottom: 20px;
}

.imagen-logo{
    width: 150px;
}
footer{
    background: var(--colorofondo1);
    text-align: center;
    color: #333;
    padding: 20px;

    /* VEEEEEERRR */
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-var{
    background: var(--coloroletras);
    color: var(--colorofondo1);
}





/* Ajustes paginas */
.container-fluid{
    display: flex;
    justify-content: space-between;
}

nav{
    box-shadow: 1px 1px 1px #b7b6b66a;

}

.nav-item{
    animation-name: caida;
    animation-duration: 1s;
    padding-left: 20px;
}

.nav-item:hover{
    transform: scale(1.2);
 
}

.nav-link:hover{
    border-bottom: 1px solid var(--coloroletras);
}


#inicio{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    background: var(--colorofondo1);
    min-height: 100vh;

}

.inicio-imagen img{
    width:700px;
    animation-name: parpadear;
    animation-duration: 1s;
}

.inicio-textos{
    width: 50%;
    text-align:start ;
    padding-left: 100px;
}

.inicio-textos p{
    width: 50%;
}

.inicio-textos h1{
    font-weight: 900;
}

.inicio-textos h6{
    font-weight: bold;
}
.inicio-imagen{
    width: 50%;
    display: flex;
}

.inicio-textos a{
    color: aliceblue;
    text-decoration: none;
    background: var(--colorboton);
    padding: 5px 20px;
    border-radius:50px;
}



/* seccion cursos */

.cursos{
    min-height: 140vh;
    position: relative;
    padding: 0 10px;
    background: var(--colorofondo1);

}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 20px;
}
.textos-cursos , .titulos-sobrenosotros, .titulos-contacto{
    display: flex;
    justify-content: center;
    align-items:start;
    flex-direction: column;
    padding: 30px;
    animation-name: moverderecha;
    animation-duration: 2s;
}

.textos-cursos a, .titulos-sobrenosotros a{
    color: #333;
    text-decoration: none;
    font-size: 0.5rem;
}

.textos-cursos a:hover, .titulos-sobrenosotros a:hover{ 
    color: var(--colorboton);
    font-size: 0.7rem;
}

.textos-cursos span,.titulos-sobrenosotros span{
    font-size: 0.7rem;
}

.textos-cursos h1, .titulos-sobrenosotros h1{
    font-weight: 900;
    color: var(--coloroletras);
}

.cards-cursos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.cards-cursos img{
    width: 300px;
}

.img-2cursos{
    position: absolute;
    bottom: -5px;
    right: 20px;
}

.card{
    box-shadow: 1px 2px 6px #b7b6b66a;

}

.card-title{
    font-size: 0.9rem;
    font-weight: bold;
}

.card-text{
    font-size: 0.7rem;
    margin-bottom: 5px;
}

.precio{
    font-size: 1rem;
    font-weight: bold;
    color: var(--coloroletras);
    margin-bottom: 2px;
}

#btn-card{
    border: 1px solid #333;    font-size: .8rem;
    font-size: .8rem;


}

#btn-card:hover{
    background: var(--colorboton);
    color:#ffffff;
}


#btn-comprar{
    background: var(--colorfondo2);
    color: #f2f2fd;
    font-size: .8rem;
}

#btn-comprar:hover{
    background: var(--colorboton);
}

.botones-card{
    bottom: 0;
}

.card-img-top{
    width: 100px;
    height: 120px;
}


/* seccion sobre nosotros */
.sobre-nosotros{
    min-height: 100vh;
    background: var(--colorofondo1);
}

.texto-img-nosotros{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.texto-img-nosotros img{
    width: 400px;
}

.texto-img-nosotros p{
    width: 50%;
    text-align: end;
}


/* seccion contacto */

.contacto{
    background: var(--colorfondo2);
    min-height: 130vh;
    position: relative;
    
}

.titulos-contacto a{
    color: var(--colorofondo1);
    text-decoration: none;
    font-size: 0.5rem;
}

.titulos-contacto a:hover{
    color: var(--colorboton);
    font-size: 0.7rem;
}

.titulos-contacto span{
    font-size: 0.7rem;
    color: white;
    font-weight: bold;
}

.titulos-contacto h1{
    font-weight: 1000;
    color: var(--colorofondo1);
}

.texto-img-contacto{
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto-img-contacto .img1-contacto{
    width: 350px;
}

.img1-contacto{
    position: absolute;
    bottom: 0;
    left: 10px;
}

.img2-contacto{
    padding-bottom: 30px;
    position: absolute;
    right: 350px;
    width: 100px;
}

input,label,textarea{
    width: 100%;
}

label{
    color: #f2f2fd;
    font-size: 1rem;
}

input{
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 1.3rem;
    padding: 5px;
}

textarea{
    margin-top: 10px;
    text-align:start;
    padding: 15px;
}

::placeholder{
    font-size: .8rem;
    color: rgba(128, 128, 128, 0.514);
}

#btn-enviar{
    width: 35%;
    margin-top: 20px;
    font-size: 1rem;
}

.redes-sociales-contacto i{
    color: #f2f2fd;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 25px;
}

.movimiento{
    animation-name: parpadear;
    animation-duration: 1s;
}

/* keyframes */
@keyframes parpadear {
    0%{
        transform: scale(0);
    }

    20%{
        transform: scale(.5);
    }

    40%{
        transform: scale(.8);
    }

    60%{
        transform: scale(1);
    }

    80%{
        transform: scale(.8);
    }

    100%{
        transform: scale(.5);
    }
}

@keyframes moverderecha {
    0%{
        transform: translateX(100px);
    }
    
    
    100%{
        transform: translateX(0px);
    }
}

@keyframes caida {
    0%{
        transform: translateY(-100px);
    }
    
    100%{
        transform: translateY(0px);
    }
}

/* media */

@media screen and (max-width: 1024px) {

    .inicio{
        flex-direction: column-reverse;
        justify-content: center;
        gap: 100px;
       
    }
    
    .inicio-textos{
        padding: 0;
        width: 100%;
        text-align: center;
        padding-bottom: 50px;
    }

    .inicio-textos p{
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 30px;
    }

    .cards{
    
        grid-template-columns: 1fr  1fr;
        justify-content: center;
        align-items: center;
    }
    
    .cursos{
        display: flex;
        flex-direction: column;
    }
    .img-1cursos,.img-2cursos{
        display: none;
    }

    .cards-cursos{
       display: flex;
       justify-content: center;
       align-items: center;
    }
    .texto-img-nosotros{
        flex-direction: column;
    }
    .texto-img-nosotros img{
        width: 200px;
        margin-bottom: 30px;
    }

    .texto-img-nosotros p{
        text-align: center;
        width: 70%;
        margin-bottom: 50px;
    }
    

    .img1-contacto{
        display: none;
    }

    .img2-contacto iframe{
        display: none;
    }
}

@media screen and (max-width:760px) {
    .cursos{
        padding-bottom: 50px;
    }
    .cards{
    
        grid-template-columns: 1fr;
    }

    .img-1cursos,.img-2cursos{
        display: none;
    }
    .img2-contacto{
        display: none;
    }
    
}